<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets\style.css" />
  </head>
  <body>
    <div class="container">
    <div class="link"><a href="/users">Read Users</a></div>
    <div class="form">
      <form action="/create" method="post" id="login">
        <!-- <label for="name">Name </label> -->
        <input type="text" id="name" name="names" placeholder="Name"/>
        <!-- <label for="email">email </label> -->
        <input type="text" id="email" name="email"  placeholder="Email"/>
        <!-- <label for="password">password </label> -->
        <input type="password" id="password" name="password"  placeholder="Password" />
        <!-- <input type='file' accept="image/*" name="image" /> -->
        <input type="submit" id="submit" />
      </form>
    </div>
  </div>
  </body>
</html>
